
.products-row .card .card-body {
	background: #f5f5f5;
}

.products-row .col-lg-4 {
	margin-bottom: 20px;
}

.products-row .card-text {
	color: #666;
	font-size: 16px;
	text-align: center;
}

/* CARD ////////////////////////////////////////////////////////////// */

.card {
	border-radius: 0;
	box-shadow: 0px 10px 10px #eee;
}

.card .card-title {
	margin-bottom: 15px;
	text-align: center;
}

.card .img-wrap {
	height: 300px;
	text-align: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.125);
}

.card .img-wrap img {
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
	object-fit: cover;
}

.card .price {
	color: #0d6efd;
}

.card .btn-primary {
	font-weight: 600;
}

/* SINGLE PRODUCT ////////////////////////////////////////////////////////////// */

.single h2 {
	text-transform: capitalize;
	padding-bottom: 10px;
	margin-bottom: 20px;
	position: relative;
}

.single h2::after {
	position: absolute;
	content: '';
	width: 50px;
	bottom: -6px;
	height: 2px;
	background-color: #666;
	left: 0;
}

.single .btn-primary {
	font-weight: 600;
}

.single .price {
	font-size: 22px;
}

.single .price strong {
	color: #0a58ca;
}

/* POSTS ////////////////////////////////////////////////////////////// */

.posts .col-sm-6 {
	margin-bottom: 20px;
}

.posts .card-title {
	text-transform: capitalize;
}

.posts .card-text {
	text-align: center;
}
